---
import Button from "../components/Button.astro";
import Calendar from "../components/Calendar.astro";
import Sidebar from "../components/Sidebar.astro";
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="Sobre o Evento">
  <div class="flex h-screen bg-white">
    <Sidebar />

    <!-- Main Content -->
    <div class="w-full flex flex-col bg-white shadow-lg rounded-lg">
      <div class="flex flex-col">
        <div class="py-4 px-6 border-b">
          <h1 class="text-4xl font-semibold text-blue-600">Sobre o evento</h1>
        </div>
        <div class="py-4 px-6 border-b">
          <h2 class="text-3xl font-semibold text-slate-700">
            Seminário UFSC 2024.2 - Blockchain e suas aplicabilidades
          </h2>
        </div>
      </div>

      <div class="p-6 flex flex-row gap-10">
        <div class="flex flex-col gap-4 w-2/3">
          <h3 class="text-2xl font-semibold text-slate-700">
            Blockchain - Aplicabilidades e Impactos
          </h3>

          <p>
            No da 20 de dezembro de 2024, a Universidade Federal da Santa Catarina (UFSC) sediará um
            evento especial sobre Blockchain e suas aplicablIdadus e impactos, um encontro voltado
            para acadêmicos, profissionais e entusiastas da tecnologia. O evento será realizado no
            audiório principal do campus Florianópolis e contar com palestras, paineis de discussão
            e workshops interativos.
          </p>
          <p>
            O foco será discutir como a tecnologia blockchain está moldando diferentes setores,
            incluindo finanças, saúde, logístico, educaçnao e sustentabilidade. Além disso, serão
            abordados seus impactos na transparencia, segurança da dados e descentralização de
            processos, destacando aspectos práticos de implementação.
          </p>

          <div class="flex flex-row gap-2 mt-10">
            <a class="w-[300px]" href="/inscricao">
              <Button>
                <div class="flex mx-auto flex-row gap-2 justify-center items-center">
                  <Icon class="size-6" name="inscricao" />
                  <span class="text-xl">Inscrição</span>
                </div>
              </Button>
            </a>

            <a class="w-[300px]" href="/submissao">
              <Button>
                <div class="flex mx-auto flex-row gap-2 justify-center items-center">
                  <Icon class="size-6" name="inscricao" />
                  <span class="text-xl">Submeter trabalho</span>
                </div>
              </Button>
            </a>
          </div>
        </div>

        <div class="flex flex-col gap-2">
          <h3 class="text-2xl font-semibold text-slate-700">Cronograma</h3>
          <Calendar highlightedDates={[27, 28, 29]} />
        </div>
      </div>
    </div>
  </div>
</Layout>
